

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #31363a;;
    height: 100vh;
    font-family: Roboto, sans-serif;

}

header{
    display: flex;
    align-items: center;
    background-color: #242526;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.left-icons {
    display: flex;
    align-items: center;
}

.left-icons .icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

header a {
    text-decoration: none;
}

.title {
    margin: 0 2vw;
    font-size: 24px;
    color: #000000;
}

.home-link{
    margin-right: 15px;
}


.title{
    color:white;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;

}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}





.content{
    display: flex;
    justify-content: space-around;
    height: 80%;
    margin-top:3%;
    min-height: 550px;
    max-height: 550px;

}



.main { 
    flex: 4;
    width: 45%;
    padding:3%;
    margin: 0 4%;
    height: 100%;
    text-align: center;
    border: #000000 solid 1px;
    border-radius: 20px;
    background-color: #242526;

}

.stats {
    display:flex;
    justify-content: space-around;
    height:13%;
}

.info {
    width: 25%;
    border:#000000 solid 1px;
    border-radius: 25px;
    height:100%;
    background-color: #5304ff;
    color: #ffffff;

}

#timerDiv{
    background-color: #5304ff;
}

#cpsDiv{
    background-color: #ff8604;
}

#clicksDiv{
    background-color: #d20a0a;
}

.clickArea{
    border-radius: 25px;
    border: #000000 solid 1px;
    width:95%;
    height:75%;
    margin: 2rem auto;
    margin-bottom:0;
    max-height: 500px;
    color: #ffffff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 1.1rem;

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.buttonDiv {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border:black solid 1px;
    width:45%;
    margin-right:4%;
    border-radius: 20px;
    padding:2%;
    background-color: #242526;
    color:white;
    font-weight: bold;
}



.secBtn {
    background-color: #343536;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border:none;
    font-weight: bold;
}

#fiveBtn{
    background-color: #3498DB;
}


.select{
    text-align: center;
}

.timer, .cps, .clicks{
    font-size: 1.5rem;
}


@media (max-width: 800px) {
    .content{
        flex-direction: column;
        align-items: center;
        min-height: 1000px;
        max-height: 1000px;
    }

    .main, .buttonDiv {
        width:90%;
        margin: auto;
        flex: 1;
    }

    .main{
        margin-bottom:0.5rem;
    }
}

.label{
    font-size: 0.9rem;
    margin-top:6px;
}


span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    /*background-color: rgba(255, 0, 225, 0.7);*/
    background-color: #ff1ead;
}
  
@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}



  